body {
    font-family: 'Source Sans Pro', sans-serif;
  }
.row {
    margin-bottom:15px;
}  

img {
    width: auto;
    height:150px
}

$grid-breakpoints: (
  md: 800px
);

$container-max-widths: (
  md: 800px
);
  
@import "../node_modules/bootstrap/scss/bootstrap";